@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/* @layer base {
} */

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Manrope", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Manrope", sans-serif;
}

.h1 {
	font-family: "Manrope", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 66px;
}

.h2 {
	font-family: "Manrope", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 55px;
}

.h3 {
	font-family: "Manrope", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
}

.h4 {
	font-family: "Manrope", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
}

.h5 {
	font-family: "Manrope", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
}

.h6 {
	font-family: "Manrope", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
}

.body1 {
	font-family: "Manrope", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
}

.body2 {
	font-family: "Manrope", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
}

.caption1 {
	font-family: "Manrope", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

.caption2 {
	font-family: "Manrope", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
}
